/*
 * headerµÄcssÎÄ¼þ
 */

.container{
	margin-top:8px;
}

.btn{
	background-color: DarkSeaGreen;
	color:navy;
}

.dropdown-menu li{
	margin-top: 5px;
}

#DarkSeaGreen{
	background-color: DarkSeaGreen;
	color: navy;
}

#SkyBlue{
	background-color: skyblue;
	color: black;
}

#Black{
	background-color: black;
	color:silver;
}

.navbar-nav{
	float: none;
	text-align: center;
}

#navigator{
	background-color:DarkSeaGreen;
}

li{
	float: none;
	display: inline-block;
	margin-left: 20px;
}

li a{
	color:navy;
	font-size: 15px;
}
