/*
 * 登录界面的css文件
 */

#main{
	width:1500px;
	height:580px;
	margin: auto;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

#top{
	margin-bottom: 10px;
}

#background{
	background-color: #345e84;
	width:1500px;
}

#context{
	background: url(../images/bg.jpg) no-repeat;
	height: 500px;
}

#login{
	width: 480px;
	height: 400px;
	background-color: white;
	border-radius: 10px;
	padding-top: 8px;
	margin-top: 30px;
}

#form{
	margin-top: 20px;
}

.input-group{
	margin-top: 10px;
}

#code{
	background-color: green;
	width: 100px;
	height: 35px;
	overflow: hidden;
	color: white;
	padding-top: 5px;
	padding-left: 25px;
	font-style: italic;
	font-size: large;
	display: inline-block;
}

label{
	font-size: medium;
}

#loginBtn{
	margin-top: 15px;
}

#submit{
	width: 140px;
}
