<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.CetMapper" >
  <resultMap id="BaseResultMap" type="com.cn.bean.Cet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cetname" property="cetname" jdbcType="VARCHAR" />
    <result column="cettime" property="cettime" jdbcType="VARCHAR" />
    <result column="termid" property="termid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cetname, cettime, termid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cn.bean.CetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cn.bean.CetExample" >
    delete from cet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cn.bean.Cet" >
    insert into cet (id, cetname, cettime, 
      termid)
    values (#{id,jdbcType=INTEGER}, #{cetname,jdbcType=VARCHAR}, #{cettime,jdbcType=VARCHAR}, 
      #{termid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.bean.Cet" >
    insert into cet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cetname != null" >
        cetname,
      </if>
      <if test="cettime != null" >
        cettime,
      </if>
      <if test="termid != null" >
        termid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cetname != null" >
        #{cetname,jdbcType=VARCHAR},
      </if>
      <if test="cettime != null" >
        #{cettime,jdbcType=VARCHAR},
      </if>
      <if test="termid != null" >
        #{termid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cn.bean.CetExample" resultType="java.lang.Integer" >
    select count(*) from cet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cet
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cetname != null" >
        cetname = #{record.cetname,jdbcType=VARCHAR},
      </if>
      <if test="record.cettime != null" >
        cettime = #{record.cettime,jdbcType=VARCHAR},
      </if>
      <if test="record.termid != null" >
        termid = #{record.termid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cet
    set id = #{record.id,jdbcType=INTEGER},
      cetname = #{record.cetname,jdbcType=VARCHAR},
      cettime = #{record.cettime,jdbcType=VARCHAR},
      termid = #{record.termid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.bean.Cet" >
    update cet
    <set >
      <if test="cetname != null" >
        cetname = #{cetname,jdbcType=VARCHAR},
      </if>
      <if test="cettime != null" >
        cettime = #{cettime,jdbcType=VARCHAR},
      </if>
      <if test="termid != null" >
        termid = #{termid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.bean.Cet" >
    update cet
    set cetname = #{cetname,jdbcType=VARCHAR},
      cettime = #{cettime,jdbcType=VARCHAR},
      termid = #{termid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>