/**
 * 学生个人首页的css文件
 */

#main{
	margin-bottom: 20px;
}

#block div{
	margin: 5px;
}

#message{
	background-color: MediumSeaGreen;
	color: white;
	height: 320px;
}

#curriculum{
	background-color: cornflowerblue;
	color: white;
	height: 160px;
}

#courses{
	background-color: crimson;
	color: white;
	height: 160px;
}

#elective{
	background-color: MediumOrchid ;
	color: white;
	height: 160px;
}

#curriculumarrange{
	background-color: Darkorange;
	color: white;
	height: 160px;
}

#exam{
	background-color: Peru ;
	color: white;
	height: 160px;
}

#cet{
	background-color: CadetBlue ;
	color: white;
	height: 160px;
}

#stuscore{
	background-color: brown ;
	color: white;
	height: 160px;
}

#evaluation{
	background-color: DarkOliveGreen ;
	color: white;
	height: 160px;	
}

#password{
	background-color: MediumPurple ;
	color: white;
	height: 160px;	
}
