<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 	
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd">  

	<bean name="DataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql:///edusystem?characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	
	<!-- 配置事务管理模板 -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="DataSource"></property>
	</bean>
	<!-- 配置事务管理 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="search*" isolation="READ_COMMITTED" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="login*" isolation="READ_COMMITTED" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="add*" isolation="READ_COMMITTED" propagation="SUPPORTS" read-only="false"/>
			<tx:method name="del*" isolation="READ_COMMITTED" propagation="SUPPORTS" read-only="false"/>
			<tx:method name="modify*" isolation="READ_COMMITTED" propagation="SUPPORTS" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	<!-- 织入 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.cn.service.*ServiceImpl.*(..))" id="service"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="service"/>
	</aop:config>
</beans>